<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <blockquote class="blockquote">
                    "Lee is an ideal, experienced, and worthy candidate…and we are confident he will serve the people of New Mexico with integrity and distinction."
                    </br>
                    <small class="">- Jonathan Nez, President of The Navajo Nation</small>
                </blockquote>
            </div>
        </div>
    </div>
</section>
