<section id="examples">
    <div class="container">
        <div class="row">
          {% for i in site.data.examples %}
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fas fa-4x {{ i.icon }} wow bounceIn text-primary"></i>
                  <h3>{{ i.title }}</h3>
                  <p class="text-muted">{{ i.description }}</p>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
</section>
