<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.meta.title }}</title>
    <meta name="author" content="{{ site.data.meta.author }}">
    <meta name="description" content="{{ site.data.meta.title }}"/>

    <!-- Social Meta Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="http://www.leebergen.com" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.data.meta.title }}" />
    <meta property="og:image" content="{{ site.url }}/{{ site.data.meta.social_share_image }}">
    <meta name="twitter:image" content="{{ site.url }}/{{ site.data.meta.social_share_image }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.data.meta.title }}">
    <meta name="twitter:card" content="{{ site.data.meta.twitter_card_style }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
