<section class="help-lee">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 text-center offset-md-2">
                <i class="fas fa-4x fa-pen-square wow bounceIn text-primary"></i>
            </div>
            <div class="col-lg-8 text-left">
                <h3>
                    Help Lee by printing and signing a petition.
                    </br>
                    Get your registered Democrat friends to sign, too!
                    The deadline is February 3!
                </h3>
                </br>
                <a class="btn btn-primary" href='{{ "/assets/BERGEN_primary_nomination_petition.pdf" }}' target="_blank" download>
                    <i class="fas fa-1x fa-file-download wow bounceIn text-white mx-2"></i> Download petition (pdf)
                </a>
            </div>
        </div>
    </div>
</section>
