<div class="container">
    <div class="jumbotron" style="background:url('{{ include.content.background_image }}');background-position: center;background-size:100%">
        <div class="row">
            <div class="col-md-3">
                <img class="portrait rounded float-right" src="{{ include.content.portrait_image }}" class="img-responsive center-block" alt="Lee Bergen Portait">
            </div>
            <div class="col-md-8">
                <h1 class="text-{{ include.content.text_color_style }} display-6">
                    "{{ include.content.quote }}"
                    </br>
                </h1>
                <h3>
                    <footer class="blockquote-footer text-{{ include.content.text_color_style }} py-4">{{ include.content.quote_attribution }}</footer>
                </h3>
            </div>
        </div>
    </div>
</div>
  